<!DOCTYPE html>
<html lang="en"></html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
</head>
<body>
	
	<nav class="navbar navbar--default">
	<div class="container-fluid">
		<!--<img class="img-responsive" src="download.jpg" alt="Chania" width="460" height="345"> -->
		<div class="navbar-header">
	
		    <a class="navbar-brand" href="/">Home</a>
		</div>
		</nav>
	 <form class="form-inline" method="post">
		<ul class="nav navbar-nav">
			<!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>-->
	 <select name="usertype">
			<option value="Admin">Admin</option>
			<option value="Doctor">User</option>
			
			</select><br>
		
	</li>
		<div class="form-group">
		Username: <input type="text" class="form-control" name="uname" required><br>
		</div>
		<div class="form-group">
		Password: <input type="password" class="form-control" name="password" required><br>
	</div>
	
		<input type="submit" class="btn btn-default" name="" value="Submit">
	</form>
	<a href="/signup">Dont have account? clcik to create account</a>
</div>
	</body>
</body>
</html>